<div class="" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="" role="document">

        <div class="">

            <div class="">

                <div id="mensajeAlertaUsuarios"></div>

                <section class="card-body">

                    <div class="note">

                        <p>Inicio de sesión del sistema de Zombies y Cerebros</p>

                    </div>

                    <div class="position-relative form-group"><label for="user" class="">Nombre de usuario</label><input [(ngModel)]="username" type="text" name="nombre" id="nombre" placeholder="Nombre del usuario" class="form-control form-control-sm"></div>
                    
                    <div class="position-relative form-group"><label for="pass" class="">Contraseña</label><input [(ngModel)]="password" type="password" name="pass" id="pass" placeholder="Contraseña" class="form-control form-control-sm"></div>
                
                </section>      
            
            </div>
            
            <div class="text-right">
                
                <button (click)="login()" type="button" class="btn mr-2 mb-2 btn-secondary" >Iniciar Sesion</button>
                
                <button (click)="register()" type="button" class="btn mr-2 mb-2 btn-success " >¿No tienes una cuenta? Registrate aquí </button>
            
            </div>
        
        </div>
    
    </div>

</div>

