<div class="" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="" role="document">
        <div class="">
            <div class="">
                <div id="mensajeAlertaGuardarUsuarios"></div>
                <section class="card-body"><h5 class="card-title note">Registro al sistema de Zombies y Cerebros</h5>
                    <div class="position-relative form-group"><label for="username" class="">Nombre de usuario</label><input [(ngModel)]="username" type="text" name="username" id="username" placeholder="Nombre de usuario" class="form-control form-control-sm"></div>
                    <div class="position-relative form-group"><label for="password" class="">Contraseña</label><input [(ngModel)]="password" type="password" name="password" id="password" placeholder="Contraseña" class="form-control form-control-sm"></div>
                    <div class="position-relative form-group"><label for="email" class="">Correo electronico</label><input [(ngModel)]="email" type="email" name="email" id="email" placeholder="Correo Electrónico" class="form-control form-control-sm"></div>
                </section>      
            </div>
            <div class="text-right">
                <button (click)="guardarUsuario()" type="button" class="btn mr-2 mb-2 btn-success" >Registrar usuario </button>
            </div>
        </div>
    </div>
</div>
